<!DOCTYPE html>
<html>

<% include include/head %>

    <body>

        <% include include/navpopup %>
            <div class="container">
                <div class="col">
                    <h1 class="text-center">Le concept</h1>

                    <div class="row align-items-center">
                        <div class="col text-right">
                            <img id="imgStyle" src="/public/images/bagues/bague1.jpg">
                        </div>
                        <div class="col text-center">
                            <img id="imgStyle" src="/public/images/bagues/bague2.jpg">
                        </div>
                        <div class="col text-left">
                            <img id="imgStyle" src="/public/images/bagues/bague3.jpg">
                        </div>
                    </div>

                    <p>

                        Cupidatat consectetur voluptate id veniam commodo voluptate. Adipisicing non anim in Lorem cillum enim voluptate consequat
                        labore officia dolore tempor laboris. Labore amet cupidatat incididunt irure ipsum incididunt laborum
                        amet nulla labore id culpa. Sint minim fugiat mollit ut dolore et commodo mollit pariatur id qui
                        pariatur ea. Consequat eu ut ad non enim ea sunt ex qui non dolor. Cupidatat consectetur voluptate
                        id veniam commodo voluptate. Adipisicing non anim in Lorem cillum enim voluptate consequat labore
                        officia dolore tempor laboris. Labore amet cupidatat incididunt irure ipsum incididunt laborum amet

                    </p>
                </div>

                <div class="form-group">

                    <div class="row align-items-center">
                        <div class="col">
                        </div>
                        <div class="col text-center">
                            <img src="/public/images/caricatures/bego.png">
                        </div>
                        <div class="col">
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col text-right">
                            <img id="imgStyle" src="/public/images/caricatures/bayou.png">
                        </div>
                        <div class="col">
                            <h1 class="text-center">L'équipe</h1>
                        </div>
                        <div class="col text-left">
                            <img id="imgStyle" src="/public/images/caricatures/tom.png">
                        </div>
                    </div>
                </div>
                <p>

                    Cupidatat consectetur voluptate id veniam commodo voluptate. Adipisicing non anim in Lorem cillum enim voluptate consequat
                    labore officia dolore tempor laboris. Labore amet cupidatat incididunt irure ipsum incididunt laborum
                    amet nulla labore id culpa. Sint minim fugiat mollit ut dolore et commodo mollit pariatur id qui pariatur
                    ea. Consequat eu ut ad non enim ea sunt ex qui non dolor. Cupidatat consectetur voluptate id veniam commodo
                    voluptate. Adipisicing non anim in Lorem cillum enim voluptate consequat labore officia dolore tempor
                    laboris. Labore amet cupidatat incididunt irure ipsum incididunt laborum amet nulla labore id culpa.
                    Sint minim fugiat mollit ut dolore et commodo mollit pariatur id qui pariatur ea. Consequat eu ut ad
                    non enim ea sunt ex qui non dolor. Cupidatat consectetur voluptate id veniam commodo voluptate. Adipisicing
                    non anim in Lorem cillum enim voluptate consequat labore officia dolore tempor laboris. Labore amet cupidatat
                    incididunt irure ipsum incididunt laborum amet nulla labore id culpa. Sint minim fugiat mollit ut dolore
                    et commodo mollit pariatur id qui pariatur ea. Consequat eu ut ad non enim ea sunt ex qui non dolor.
                    Cupidatat consectetur voluptate id veniam commodo voluptate. Adipisicing non anim in Lorem cillum enim
                    voluptate consequat labore officia dolore tempor laboris. Labore amet cupidatat incididunt irure ipsum
                    incididunt laborum amet nulla labore id culpa. Sint minim fugiat mollit ut dolore et commodo mollit pariatur
                    id qui pariatur ea. Consequat eu ut ad non enim ea sunt ex qui non dolor.

                </p>
            </div>

            <% include include/foot %>

    </body>

</html>