<!DOCTYPE html>
<html>

<% include include/head %>

    <body>

        <% include include/navpopup %>
            <div class="container">
                <div class="col">
                    <h1 class="text-center">Le concept</h1>

                    <div class="row align-items-center">
                        <div class="col text-right">
                            <img id="imgStyle" src="/public/images/bagues/bague1.jpg">
                        </div>
                        <div class="col text-center">
                            <img id="imgStyle" src="/public/images/bagues/bague2.jpg">
                        </div>
                        <div class="col text-left">
                            <img id="imgStyle" src="/public/images/bagues/bague3.jpg">
                        </div>
                    </div>

                    <p>

                        Vous avez toujours cherché un bijou vous représentant, synonyme de votre personnalité, sans jamais trouver votre bonheur
                        ? Vous en avez marre de passer votre temps à regarder sur tous les sites internet, sans trouver le
                        produit qui vous correspond ? Ne cherchez plus, vous êtes à la bonne place, « bijouByBego » est le
                        site qui est fait pour vous. Modélisez votre bijou à 100%, choisissez la matière, la forme, la couleur
                        et plein d’autres encore. Ayez pour seule limite votre imagination…


                    </p>
                </div>

                <div class="form-group">

                    <div class="row align-items-center">
                        <div class="col">
                        </div>
                        <div class="col text-center">
                            <img src="/public/images/caricatures/bego.png">
                        </div>
                        <div class="col">
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col text-right">
                            <img id="imgStyle" src="/public/images/caricatures/bayou.png">
                        </div>
                        <div class="col">
                            <h1 class="text-center">L'équipe</h1>
                        </div>
                        <div class="col text-left">
                            <img id="imgStyle" src="/public/images/caricatures/tom.png">
                        </div>
                    </div>
                </div>
                <p class="text-center">

                    Notre équipe est consistué de 3 membres:
                    <li class="text-center">Begoña</li>
                    <p class="text-center">Je me suis occupée de toute la partie canvas 3D</p>
                    <li class="text-center">Tom</li>
                    <p class="text-center">En ce qui me concerne j'ai geré toute la partie Back-End, base de données</p>
                    <li class="text-center">Flavien</li>
                    <p class="text-center">Quant à moi, j'ai assuré la partie Front-End</p>

                </p>
            </div>

            <% include include/foot %>

    </body>

</html>