<!DOCTYPE html>
<html>

<% include include/head %>

    <body>

        <% include include/navpopup %>
            <div class="container">
                <div class="row">
                    <table class="table table-bordered">
                        <thead id="headcolor">
                            <tr class="text-white">
                                <th>Produit</th>
                                <th>Font</th>
                                <th>Matériel</th>
                                <th>Finition</th>
                                <th>Prix (euros)</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">


                            <% produit.forEach(function(prod) { %>

                            <tr>
                                <td><img src="../../public/images/ringicon.jpg"></td>
                                <td><%= prod['nom_font'] %></td>
                                <td><%= prod['nom_finition'] %></td>
                                <td><%= prod['nom_materiel'] %></td>
                                <td><%= prod['prix'] %></td>
                            </tr>

                            <% }); %>
                    </table>
                </div>
            </div>


            <% include include/foot %>

    </body>

</html>