<!DOCTYPE html>
<html>

<% include include/head %>

    <body>

        <% include include/navpopup %>
            <div class="container">
                <div class="row">
                    <table class="table table-bordered">
                        <thead id="headcolor">
                            <tr class="text-white">
                                <th>Produit</th>
                                <th>Font</th>
                                <th>Matériel</th>
                                <th>Finition</th>
                                <th>Prix (euros)</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr>
                                <td><img src="../../public/images/ringicon.jpg"></td>
                                <td>Helvetiker</td>
                                <td>Gloss</td>
                                <td>Argent</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td><img src="../../public/images/ringicon.jpg"></td>
                                <td>Helvetiker</td>
                                <td>Gloss</td>
                                <td>Argent</td>
                                <td>100</td>

                            </tr>
                            <tr>
                                <td><img src="../../public/images/ringicon.jpg"></td>
                                <td>Helvetiker</td>
                                <td>Gloss</td>
                                <td>Argent</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td><img src="../../public/images/ringicon.jpg"></td>
                                <td>Helvetiker</td>
                                <td>Gloss</td>
                                <td>Argent</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td><img src="../../public/images/ringicon.jpg"></td>
                                <td>Helvetiker</td>
                                <td>Gloss</td>
                                <td>Argent</td>
                                <td>100</td>

                            </tr>
                    </table>
                </div>
            </div>

            <!-- <div class="container text-center">
                <div class="row">
                    <div class="col">
                        <img src="../../public/images/bluering.jpg">
                        <div class="hov">
                            <div class="content
                            ">
                                <h4>Détail de l'article</h4>
                                <h5>Taille:</h5>
                                <h5>Font:</h5>
                                <h5>Matériel:</h5>
                                <h5>Finition:</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <img src="../../public/images/bluering.jpg">
                        <div class="hov">
                            <div class="content">
                                <h2>Voici le détail de votre article</h2>
                                <h4>Taille:</h4>
                                <h4>Font:</h4>
                                <h4>Matériel:</h4>
                                <h4>Finition:</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <img src="../../public/images/bluering.jpg">
                        <div class="hov">
                            <div class="content">
                                <h2>Voici le détail de votre article</h2>
                                <h4>Taille:</h4>
                                <h4>Font:</h4>
                                <h4>Matériel:</h4>
                                <h4>Finition:</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="../../public/images/bluering.jpg">
                        <div class="hov">
                            <div class="content">
                                <h2>Voici le détail de votre article</h2>
                                <h4>Taille:</h4>
                                <h4>Font:</h4>
                                <h4>Matériel:</h4>
                                <h4>Finition:</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <img src="../../public/images/bluering.jpg">
                        <div class="hov">
                            <div class="content">
                                <h2>Voici le détail de votre article</h2>
                                <h4>Taille:</h4>
                                <h4>Font:</h4>
                                <h4>Matériel:</h4>
                                <h4>Finition:</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <img src="../../public/images/bluering.jpg">
                        <div class="hov">
                            <div class="content">
                                <h2>Voici le détail de votre article</h2>
                                <h4>Taille:</h4>
                                <h4>Font:</h4>
                                <h4>Matériel:</h4>
                                <h4>Finition:</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <% include include/foot %>

    </body>

</html>