<!DOCTYPE html>
<html>

<% include include/head %>

    <body>

        <% include include/navpopup %>
        
            <div class="container">
                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="text-white">
                                <th>Références</th>
                                <th>Taille</th>
                                <th>Quantité</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- function loadpersons -->
                        </tbody>
                    </table>
                </div>
            </div>
    </body>

</html>