<!DOCTYPE html>
<html lang="en">

<% include include/head %>

    <head>
        <style>
            body {
                background-image: url("/public/images/background.jpg");
                background-size: 100%;
            }

            .container {
                background-color: rgba(255, 255, 255, 0.3);
            }

        </style>
    </head>

    <body>
        <% include include/navpopup %>
            <!-- contenu -->
            <div class="container">
                <p>
                    <h1>Entrez dans votre unique univers</h1>
                    <h3>Modélisez des bijoux à votre image</h3>
                    <h3>Partagez vos créations entre amis</h3>
                </p>
                    <a href="/index">Foncez !</a>
            </div>

            <% include include/foot %>

    </body>

</html>