<!DOCTYPE html>
<html lang="en">

<% include include/head %>
    <style>
        body {
            background-image: url("/public/images/background.jpg");
            background-size: 100%;
        }
    </style>
    <!-- <script>
        function resize() {
            $("#threecanvas").outerHeight($(window).height() - $("#threecanvas").offset().top - Math.abs($("#threecanvas").outerHeight(true) - $("#threecanvas").outerHeight()));
            $("#threecanvas").outerWidth($(window).width() - $("#threecanvas").offset().top - Math.abs($("#threecanvas").outerWidth(true) - $("#threecanvas").outerWidth()));

        }

        $(document).ready(function () {
            resize();
            $(window).on("resize", function () {
                resize();
            });
        });
    </script> -->

    <body>

        <% include include/navpopup %>

            <div class="container-fluid">

                <!-- Panel gauche -->

                <div class="row panel">
                    <div class="col-2">
                        <div class="card">
                            <form action="/createPost" method="post" id="form_create">
                                <div class="card-body">
                                    <div class="form-group">
                                        <p>Texte</p>
                                        <input name="text3D" id="text3D" class="form-control" placeholder="Texte">
                                    </div>

                                    <div class="form-group">
                                        <p>Font</p>
                                        <select id="fontSel" name="fontSel" class="form-control">
                                            <option value=0>Helvetiker</option>
                                            <option value=1>Optimer</option>
                                            <option value=2>Gentilis</option>
                                            <option value=3>Droid sans</option>
                                            <option value=4>Droid serif</option>    

                        </select>
                                    </div>
                                    <div class="form-group">
                                        <p>Taille</p>
                                        <select  name="taille" class="form-control">
                            <option value="10">10 cm</option>
                            <option value="12">12 cm</option>
                            <option value="14">14 cm</option>
                        </select>
                                    </div>
                                    <div class="form-group text-center">
                                        <!-- <% if (errCo) { %> -->
                                        <!-- <div class="alert alert-danger text-center" role="alert">Identifiants incorrects</div> -->
                                        <!-- <% } %> -->
                                        <!-- <% if (inscr) { %> -->
                                        <!-- <i class="fa fa-floppy-o" aria-hidden="true"></i> -->
                                        <!-- <% } %> -->
                                        <a href="">
                                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                        </a>
                                        <a href="">
                                        <i id ="share" class="fa fa-share-alt" aria-hidden="true"></i>
                                        </a>
                                        <a href="">
                                        <i class="fa fa-file" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="form-group text-center">
                                        <button type="submit" class="btn btn-default">Créer</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Contenu -->
                    <div class="container col-8">
                        <% if (errCo) { %>
                            <!-- <div class="container col-8" id="contenu"> -->
                            <div class="alert alert-danger text-center" role="alert">Identifiants incorrects</div>
                            <!-- </div> -->

                            <% } %>

                                <% if (inscr) { %>
                                    <div class="alert alert-success text-center" role="alert">Inscription réussie !</div>
                                    <% } %>
                                        <div class="canvas">
                                            <canvas id="threecanvas">
                                                <!-- 3d canvas here -->
                                            </canvas>
                                        </div>
                    </div>


                    <!-- Panel droit -->

                    <div class="col-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <p>Sélectionner matériel</p>
                                    <select class="form-control">
                            <option>Sélectionner matériel</option>
                            <option>Argent</option>
                            <option>Or</option>
                        </select>
                                </div>
                                <div class="form-group">
                                    <p>Sélectionner finition</p>
                                    <select class="form-control">
                        <option>Sélectionner finition</option>
                        <option>Standard</option>
                        <option>Gloss</option>
                    </select>
                                </div>
                                <label>Prix</label>
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-default">Ajouter au panier</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <script src="../public/javascripts/three.min.js"></script>
            <script src="../public/javascripts/textGeo.js"></script>
    </body>

</html>