    <div id="footer" class="card text-center fixed-bottom">
        <div class="card-footer text-muted">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            <i id="share" class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
            <div>
                <i class="fa fa-copyright" aria-hidden="true"> Copyright 2017</i>
            </div>
        </div>
    </div>
