<!-- navbar -->

<div class="entete">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="col">
            <a class="navbar-brand" href="/"><img src="/public/images/logoT2B.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="col-6">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/index">CREER</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/catalogue">CATALOGUE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aPropos">A PROPOS</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col text-right">

            <% if (!co) { %>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <button type="submit" class="btn btn-default" data-toggle="modal" data-target="#connexionModal">Connexion
            </button>
                <button type="submit" class="btn btn-default" data-toggle="modal" data-target="#inscriptionModal">
                Inscription
            </button>
                <% } %>

                    <% if (co) { %>

                        <div class="row">
                            <div class="col">
                                <form action="/index" method="post"> Bonjour
                                    <%= nomMembre %>
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                        <input type="hidden" name="deco" value="deco">
                                        <button type="submit" class="btn btn-default">Déconnexion</button>
                                </form>
                            </div>
                        </div>

                        <% } %>
        </div>
    </nav>
</div>

<!-- Modal de connexion -->

<div class="modal fade" id="connexionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Connexion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col align-self-start"></div>
                <div class="col align-self-center">
                    <form action="./index" method="post">
                        <a id="to-register-trigger" style="display:inline-block;" href="#">Pas encore inscrit ?</a>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" name="mail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" name="pass" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            <a id="reset-popup-trigger" href="#">mot de passe oublié ?</a>
                        </div>
                        <button type="submit" class="btn btn-blue">Se connecter</button>
                    </form>
                </div>
                <div class="col align-self-end"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal d'inscription -->

<div class="modal fade" id="inscriptionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Inscription</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col align-self-start"></div>
                <div class="col align-self-center">

                    <!--<div id="divErrorInscr" class="alert alert-danger" role="alert"></div>-->
                    <form action="/index" method="post">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Prénom</label>
                            <input type="text" name="prenom" class="form-control" id="inputPrenom" placeholder="Prénom">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Nom</label>
                            <input type="text" name="nom" class="form-control" id="inputNom" placeholder="Nom">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Adresse e-mail</label>
                            <input type="email" name="mailInscr" class="form-control" id="inputMail" aria-describedby="emailHelp" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Mot de passe</label>
                            <input type="password" name="passInscr" class="form-control" id="inputPass" placeholder="Mot de passe">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="conditions" id="checkCondis" type="checkbox" required>
                                "Coche la case, soit sympa..."
                                <a target="_blank" href="http://www.creabybego.com/">Conditions d'utilisation</a>
                            </label>
                        </div>

                        <button type="submit" id="btnSubmit" class="btn btn-blue">S'inscrire</button>
                    </form>
                </div>
                <div class="col align-self-end"></div>
            </div>
        </div>
    </div>
</div>