.entete{
    margin-bottom: 40px;
}

.panel{
    padding-left:70px;
    padding-right:70px;
}

.navbar-nav{
    margin: 0 auto;
    text-align: center;
}
body {
    background-image:url("/images/background.jpg");
    background-size: 100%;
    
}

#contenu{
    text-align: center
}