.entete{
    margin-bottom: 40px;
}

.panel{
    padding-left:70px;
    padding-right:70px;
}

.navbar-nav{
    margin: 0 auto;
    text-align: center;
}
body {
    background-image:url("/public/images/background.jpg");
    background-size: 100%;
    
}

#contenu{
    display: flex;
    }

#contenu > img{
    margin: auto;
    }

.table{
    background-color: rgba(0, 59, 72, 0.6);
    background: rgba(0, 59, 72, 0.6);
    color: rgba(0, 59, 72, 0.6);
}